        <div class="well">
            <div class="panel">
                <div class="row">
                    <div class="col-lg-4">
                        Title
                    </div>
                    <div class="col-lg-8">
                        <% task.title %>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4">
                        Description
                    </div>
                    <div class="col-lg-8">
                       <% task.description %>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4">
                        Created By
                    </div>
                    <div class="col-lg-8">
                        <% task.created_by %>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4">
                        Dead Line
                    </div>
                    <div class="col-lg-8">
                        <% task.deadline %>
                    </div>
                </div>

            </div>
        </div>
